div {
    display: block;
}

.device-cnt-wrapper {
    background: #b32828;
}

.static-container {
    padding: 3.125rem 4.375rem;
}

.device-list-container {
    background: white;
    border-radius: 0.3125rem 0.3125rem 0 0;
    margin: -3.25rem 0 0;
    padding-top: 5rem;
}

.card-lists {
    margin-bottom: 0;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.align-all-center {
    text-align: center !important;
}

ul {
    padding-inline-start: 0px;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.card-lists .card-item {
    padding: 0.625rem;
}

.card-lists.cols-3 li {
    width: 33.3333%;
}

.card-lists .card-item .card-wrapper {
    border-radius: 0.3125rem;
    background: #f3f3f1;
    /* overflow: hidden; */
    height: 100%;
    position: relative;
}

.card-lists .card-item .img-block {
    width: 100%;
}

.iphone-img {
    text-align: center;
    padding: 2.625rem 0 0.3125rem;
}

.card-lists .card-item .card-content.card-content-with-button {
    padding-bottom: 6.25rem;
    /* position: relative; */
    /* height: 100%; */
}

.card-lists .card-item .card-content {
    padding: 1.375rem 2.5rem 1.25rem;
}

.align-all-center.card-lists .card-item .card-content.card-content-with-button {
    padding-bottom: 2.5rem;
    height: auto;
    text-align: center;
}

p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-lists .card-item .card-wrapper img {
    border-radius: 0.3125rem 0.3125rem 0 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    height: 19.5rem;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.card-lists .card-item .card-content h5 {
    color: #1D252D;
    font-size: 1.65rem;
    font-family: "stcbold";
    position: relative;
    margin-bottom: .6rem;
    padding-right: 0.625rem;
    line-height: 1;
}

.align-all-center h5 {
    text-align: center;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-lists .card-item .card-content p {
    font-size: 1.3125rem;
    color: #1D252D;
    padding-right: 1.25rem;
    line-height: 1.3;
    margin-bottom: 0.6875rem;
    font-family: "stcregular";
}

.card-lists .card-item .card-content.card-content-with-button .btn-violet-small {
    position: absolute;
    bottom: 2.5rem;
}

.align-all-center a {
    position: static !important;
}

.btn-violet-small {
    background: #ff375e !important;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.25rem;
    padding: 1.0rem 2.25rem;
    display: inline-block;
    border-radius: 0.2rem;
    border: 1px solid #FF375E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}